[submodule "multilang/Give-Me-The-Damn-Data"]
	path = multilang/Give-Me-The-Damn-Data
	url = git@github.com:DanielHakim98/Give-Me-The-Damn-Data.git
[submodule "rust/caesar-cipher"]
	path = rust/caesar-cipher
	url = git@github.com:DanielHakim98/Rust-Caesar-Cipher.git
[submodule "assembly/caesar-cipher"]
	path = assembly/caesar-cipher
	url = git@github.com:DanielHakim98/Overcomplicated_Caesar-Cipher.git
[submodule "go/destroyer-of-worlds"]
	path = go/destroyer-of-worlds
	url = git@github.com:DanielHakim98/destroyer-of-worlds.git
[submodule "go/useless-todo"]
	path = go/useless-todo
	url = git@github.com:DanielHakim98/Useless-TODO.git
[submodule "multilang/useless-todo"]
	path = multilang/useless-todo
	url = git@github.com:DanielHakim98/Useless-TODO.git
[submodule "multilang/advent-of-code-2023"]
	path = multilang/advent-of-code-2023
	url = git@github.com:DanielHakim98/AOC2023.git
[submodule "gleam/rip-off-cut"]
	path = gleam/rip-off-cut
	url = git@github.com:DanielHakim98/Rip-Off-Cut.git
